<a class="nav-link p-3 p-md-4 {% if active=='home' %}active{% endif %}" href="/">Home</a>
<a class="nav-link p-3 p-md-4 {% if active=='menu' %}active{% endif %}" href="/menu">Menu</a>
<a class="nav-link p-3 p-md-4 {% if active=='coffee' %}active{% endif %}" href="/coffee">Coffee</a>
<a class="nav-link p-3 p-md-4 {% if active=='our-story' %}active{% endif %}" href="/our-story">Our Story</a>