<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Speciality coffee, fresh food &amp; local community. Each cup of coffee is made with love, precision and care.">
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
   
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#606060">
    <meta name="msapplication-TileColor" content="#e7e7e7">
    <meta name="theme-color" content="#ffffff">
    
    <title>{% block title %}


        {% endblock %}</title>
</head>

<body>
    <div class="bg-light">
        <div class="container">
            <nav class="navbar navbar-light navbar-expand justify-content-center justify-content-md-between flex-wrap">
                <a class="navbar-brand" href="#">
                    <img src="/img/logo-krivky-opt.svg" alt="Generic Hipster Coffee logo" class="img-fluid" width="150">
                </a>
                <div class="navbar-nav">
                    {% block nav %}
                        {% include '__nav.twig' %}
                    {% endblock %}
                </div>
            </nav>
        </div>
    </div>

    {% block content %}{% endblock %}

    <div class="ghc-spodek bg-dark text-center text-light">
        <nav class="nav justify-content-center">
            {% block nav %}
                {% include '__nav.twig' %}
            {% endblock %}
        </nav>

        <p class="text-uppercase h5">#hipstersmakecoffee</p>
        <p>Follow us on <a href ="#">Twitter</a> and <a href ="#">Instagram</a></p>
    </div>


    {#
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS and your own script at the end -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="js/custom.js"></script>
    #}

    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "CafeOrCoffeeShop",
          "name": "Generic Hipster Coffee",
          "description": "Speciality coffee, fresh food &amp; local community. Each cup of coffee is made with love, precision and care.",
          "image": "https://gruesome-process.surge.sh/img/counter.jpg",
          "location": {
            "@type": "Place",
            "address": {
              "@type": "PostalAddress",
              "addressLocality": "San Francisco",
              "streetAddress": "321 Ivy St.",
              "postalCode": "CA 94102"
            }
          },
          "openingHours": "Sunday to Thursday: 8 am to 11 pm; Friday to Saturday: 8 am to 1 am"
        }
        </script>
</body>
</html>
