{% extends '_base.twig' %}


{% block title %}Generic Hipster Coffee{% endblock %}


{% block content %}
<div class="bg-light">
<div class="container">
    <nav class="navbar navbar-light bg-light navbar-expand justify-content-center justify-content-md-between flex-wrap">
    <a class="navbar-brand" href="#"><img src="/img/logo-krivky-opt.svg" alt="generic-hipster-logo" class="img-fluid" width="150"></a>
    <div class="navbar-nav">
        <a class="nav-item nav-link p-3 p-md-4" href="/">Home</a>
        <a class="nav-item nav-link p-3 p-md-4" href="menu">Menu</a>
        <a class="nav-item nav-link p-3 p-md-4 active" href="#">Coffee</a>
        <a class="nav-item nav-link p-3 p-md-4" href="our-story">Our Story</a>
    </div> 
    </nav>
</div>
</div>


<div class="container">

    <h1 class="text-uppercase">Coffee</h1>
    <p class="ghc-annotation">We work with specialty coffee from current crops which is carefully roasted. Our coffee is fruity, juicy and never boring. We bring you the best from leading european specialty roasteries, currently mostly from Square Mile Coffee Roasters, a multi award winning coffee roasting company based in East London.</p> 
    <p>You can currently buy these beans in 350g bags.</p>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title ghc-coffee-name bg-light">Quejina (Guatemala)</h3>
                    <img src="/img/smcr-quejina.jpg" alt="Quejina Coffee" class="img-fluid">
                    <p class="card-text ghc-coffee-taste">redcurrant/honeysuckle/juicy</p>
                    <p class="card-text ghc-coffee-about">Fruity redcurrant and sweet honeysuckle flavours. An incredibly juicy coffee which we struggled to decide on the right berry descriptor, but raspberry, blackberry and blueberry were also in the running!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title ghc-coffee-name bg-light">Mormora (Ethiopia)</h3>
                    <img src="/img/smcr-mormora.jpg" alt="Mormora Coffee" class="img-fluid">
                    <p class="card-text ghc-coffee-taste">blackberry/orange/silky</p>
                    <p class="card-text ghc-coffee-about">Fruity, sweet notes of dried mango, strawberry and passionfruit sit alongside a delicious creamy mouthfeel making this a tasty summer Ethiopian, hot or cold.</p> 
                </div>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title ghc-coffee-name bg-light">Kamwangi (Kenya)</h3>
                    <img src="/img/smcr-kamwangi.jpg" alt="Kamwangi Coffee" class="img-fluid">
                    <p class="card-text ghc-coffee-taste">blackberry/orange/silky</p>
                    <p class="card-text ghc-coffee-about">This is one fruit filled espresso! From citrus fruits, such as orange, grapefruit and clementine, to berries of the black, blue and red variety, this is fruit turned up to 11, all wrapped up in a silky smooth body.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title ghc-coffee-name bg-light">Decaf Espresso (El Salvador)</h3>
                    <img src="/img/smcr-decaf-espresso.jpg" alt="Go Decaf!" class="img-fluid">
                    <p class="card-text ghc-coffee-taste">caramel/apple/cinnamon</p>
                    <p class="card-text ghc-coffee-about">This is a single origin espresso from San Carlos in El Salvador, think sweet caramel and apple notes alongside sprinklings of cinnamon in the finish.</p>
                </div>
            </div>
        </div>
    </div>
<div class="ghc-negative-margin-fix"></div>
</div>  
    <div class="ghc-spodek bg-dark text-center text-light">
        <nav class="nav justify-content-center">
        <a class="nav-link text-primary" href="/">Home</a>
        <a class="nav-link text-primary" href="menu">Menu</a>
        <a class="nav-link text-light active" href="coffee">Coffee</a>
        <a class="nav-link text-primary" href="our-story">Our Story</a>
        </nav>

        <p class="text-uppercase h5">#hipstersmakecoffee</p>
        <p>Follow us on Twitter and Instagram</p>



    </div>


  
{% endblock %}
