{% extends '_base.twig' %}


{% block title %}Generic Hipster Coffee{% endblock %}


{% block content %}
    <div class="container">
        <img src="/img/logo-krivky-opt.svg" alt="generic-hipster-logo" class="img-fluid" width="120">
        <nav class="nav justify-content-end">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">Menu</a>
        <a class="nav-link" href="#">Coffee</a>
        <a class="nav-link" href="#">Our Story</a>
        </nav>
    </div>

    <div class="container">
        <h1>Generic Hipster Coffee</h1>
        <p>Specialty coffee, fresh food & local community.</p>
    </div>

    <img src="/img/counter.jpg" alt="generic-hipster-logo" class="img-fluid" width="800">
    
    <div>
        <h2>Opening hours</h2>
        <p>Osunday to  thursday: 8 am to 11 pm</p>
        <p>friday to  saturday: 8 am to 1 am</p>
    </div>

    <div>
        <h2>Book a table</h2>
        <p>Call +1 415-321-4567</p>
    </div>

    <div>
        <h2>Address</h2>
        <p>321 Ivy St.San Francisco, CA 94102</p>
    </div>

    <div class="container">
        <nav class="nav justify-content-end">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">Menu</a>
        <a class="nav-link" href="#">Coffee</a>
        <a class="nav-link" href="#">Our Story</a>
        </nav>
    </div>
{% endblock %}
