{% extends '_base.twig' %}

{% block title %}Generic Hipster Coffee{% endblock %}


{% block nav %}
    {% include '__nav.twig' with {'active': 'home'} %}
{% endblock %}


{% block content %}

<div class="container">
    <h1 class="text-uppercase">Generic Hipster Coffee</h1>
    <p class="ghc-motto">Specialty coffee, fresh food &amp; local community.</p>
    <img src="/img/counter.jpg" alt="generic-hipster-logo" class="img-fluid">

    <div class="row">
        <div class="col-sm">
            <h2 class="h4 text-uppercase">Opening hours</h2>
            <p>Sunday to Thursday: 8&nbsp;am to&nbsp;11&nbsp;pm</p>
            <p>Friday to Saturday: 8&nbsp;am to&nbsp;1&nbsp;am</p>
        </div>

        <div class="col-sm">
            <h2 class="h4 text-uppercase">Book a&nbsp;table</h2>
            <p>Call +1&nbsp;415-321-4567</p>
        </div>

        <div class="col-sm">
            <h2 class="h4 text-uppercase">Address</h2>
            <p>321&nbsp;Ivy&nbsp;St. San&nbsp;Francisco, CA&nbsp;94102</p>
        </div>
    </div>

    <div class="embed-responsive embed-responsive-16by9">
        <div id="map" class="embed-responsive-item"></div>
    </div>

</div>

<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "CafeOrCoffeeShop",
      "name": "Generic Hipster Coffee",
      "description": "Speciality coffee, fresh food &amp; local community. Each cup of coffee is made with love, precision and care.",
      "image": "https://gruesome-process.surge.sh/img/counter.jpg",
      "location": {
        "@type": "Place",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "San Francisco",
          "streetAddress": "321 Ivy St.",
          "postalCode": "CA 94102"
        }
      },
      "openingHours": ["Su-Th 08:00-23:00", "Fr-Sa 08:00-01:00"],
      "telephone": "+14153214567"
    }
    </script>

    

<script>
    function initMap() {
        var map;
        var uluru = { lat: 37.777, lng: -122.424 };
        map = new google.maps.Map(document.getElementById('map'), {
            center: uluru,
            zoom: 17,
            mapTypeControl: false,
            streetViewControl: false,
            styles: [
                {
                    "featureType": "landscape.man_made",
                    "elementType": "geometry",
                    "stylers": [{ "color": "#e7e7e7" }]
                },
                {
                    "featureType": "landscape.man_made",
                    "elementType": "geometry.fill",
                    "stylers": [{ "color": "#e7e7e7" }, { "visibility": "on" }, { "weight": 2.5 }]
                },
                {
                    "featureType": "landscape.man_made",
                    "elementType": "labels.icon",
                    "stylers": [{ "color": "#e7e7e7" }]
                },
                {
                    "featureType": "poi.business",
                    "stylers": [{ "visibility": "off" }]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "labels.text",
                    "stylers": [{ "visibility": "off" }]
                }
            ]
        });
        var marker = new google.maps.Marker({ position: uluru, map: map });
    }
</script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmmvRPDWEKXnIl7ZMKUHaZDDPfW9g_OgY&callback=initMap"
    async defer
></script>
{% endblock %}
