{% extends '_base.twig' %}


{% block title %}Menu – Generic Hipster Coffee{% endblock %}

{% block nav %}
    {% include '__nav.twig' with {'active': 'menu'} %}
{% endblock %}


{% block content %}

<h1 class="text-uppercase">Menu</h1>

<div class="row">
    <div class="col-md">
        <h2 class="text-uppercase">Espresso Coffee</h2>
        <p class="row ghc-price-list-item"><span class="col">Espresso</span><span class="col text-right">3.8</span></p>
        <p class="row ghc-price-list-item"><span class="col">Double espresso</span><span class="col text-right">4.9</span></p>
        <p class="row ghc-price-list-item"><span class="col">Americano </span><span class="col text-right">5.0</span></p>
        <p class="row ghc-price-list-item"><span class="col">Espresso machiato</span><span class="col text-right">4.3</span></p>
        <p class="row ghc-price-list-item"><span class="col">Cappuccino</span><span class="col text-right">5.2</span></p>
        <p class="row ghc-price-list-item"><span class="col">Flat White</span><span class="col text-right">5.9</span></p>
        <p class="row ghc-price-list-item"><span class="col">Latte</span><span class="col text-right">5.9</span></p>
        <p class="row ghc-price-list-item"><span class="col">Extra shot</span><span class="col text-right">1.1</span></p>
    </div>

    <div class="col-md">
        <h2 class="text-uppercase">Filter Coffee</h2>
        <p class="row ghc-price-list-item"><span class="col">House Drip Coffee</span><span class="col text-right">4.5</span></p>
        <p class="row ghc-price-list-item"><span class="col">Aeropress</span><span class="col text-right">5.5</span></p>
        <p class="row ghc-price-list-item"><span class="col">V60</span><span class="col text-right">6.5</span></p>
        <p class="row ghc-price-list-item"><span class="col">Kalita</span><span class="col text-right">12.0</span></p>

        <h2 class="text-uppercase">Cofee specialites</h2>
        <p class="row ghc-price-list-item"><span class="col">Cascara</span><span class="col text-right">4.9</span></p>
        <p class="row ghc-price-list-item"><span class="col">Irish coffee</span><span class="col text-right">10.9</span></p>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <h2 class="text-uppercase">Iced</h2>
        <p class="row ghc-price-list-item"><span class="col">Iced Latte</span><span class="col text-right">6.9</span></p>
        <p class="row ghc-price-list-item"><span class="col">Espresso on the rock</span><span class="col text-right">4.9</span></p>
        <p class="row ghc-price-list-item"><span class="col">Iced Cascara</span><span class="col text-right">5.5</span></p>
        <p class="row ghc-price-list-item"><span class="col">Affogato</span><span class="col text-right">5.9</span></p>
        <p class="row ghc-price-list-item"><span class="col">Iced Flat white</span><span class="col text-right">5.9</span></p>
        <p class="row ghc-price-list-item"><span class="col">Iced Filter</span><span class="col text-right">5.8</span></p>
        <p class="row ghc-price-list-item"><span class="col">Iced tea</span><span class="col text-right">4.9</span></p>
        <p class="row ghc-price-list-item"><span class="col">Iced chocolate</span><span class="col text-right">6.2</span></p>
    </div>
    <div class="col-md">
        <h2 class="text-uppercase">Hot</h2>
        <p class="row ghc-price-list-item"><span class="col">Tea</span><span class="col text-right">4.9</span></p>
        <p class="row ghc-price-list-item"><span class="col">Ginger tea</span><span class="col text-right">4.5</span></p>
        <p class="row ghc-price-list-item"><span class="col">Hot chocolate</span><span class="col text-right">4.5</span></p>
    </div>
</div>

<h2 class="text-uppercase">Non-alcoholic beverages</h2>
<div class="row">
    <div class="col-md">
        <h3 class="text-uppercase">Lemonade</h3>
        <p class="row ghc-price-list-item"><span class="col">Fresh Squeezed Lemonade</span><span class="col text-right">5</span></p>
        <p class="row ghc-price-list-item"><span class="col">Ginger Lemonade</span><span class="col text-right">4.5</span></p>
        <p class="row ghc-price-list-item"><span class="col">Cascara Fizz Original</span><span class="col text-right">5.8</span></p>
        <p class="row ghc-price-list-item"><span class="col">Club-mate Cola</span><span class="col text-right">4.5</span></p>
        <p class="row ghc-price-list-item"><span class="col">Tonic Thomas Henry</span><span class="col text-right">4.3</span></p>
    </div>
    <div class="col-md">
        <h3 class="text-uppercase">Water</h3>
        <p class="row ghc-price-list-item"><span class="col">Sparkling</span><span class="col text-right">2.4</span></p>
        <p class="row ghc-price-list-item"><span class="col">Still</span><span class="col text-right">2.4</span></p>
    </div>
</div>

<h2 class="text-uppercase">Alcoholic beverages</h2>
<div class="row">
    <div class="col-md">
        <h3 class="text-uppercase">Beer</h3>
        <p class="row ghc-price-list-item"><span class="col">Small breweries on tap</span><span class="col text-right">3.5</span></p>
        <p class="row ghc-price-list-item"><span class="col">Birell (bottled)</span><span class="col text-right">3.5</span></p>
        <p class="row ghc-price-list-item"><span class="col">Cider Magnetic Apple</span><span class="col text-right">4.5</span></p>

        <h3 class="text-uppercase">White wine</h3>
        <p class="row ghc-price-list-item">
            <span class="col">Chardonnay Les Vignes de L'Arque, France</span>
            <span class="col text-right">3.5</span>
        </p>
        <p class="row ghc-price-list-item">
            <span class="col">Sauvignon Blanc, Château Le Sartre Blanc 2011</span>
            <span class="col text-right">3.8</span>
        </p>

        <h3 class="text-uppercase">Red wine</h3>
        <p class="row ghc-price-list-item">
            <span class="col">Cuvée Côtes du Rhône Vigneros de Caracterem</span>
            <span class="col text-right">3.5</span>
        </p>
        <p class="row ghc-price-list-item">
            <span class="col">Cabernet Sauvignon, Château Tour du Roch-Milon 2011</span>
            <span class="col text-right">3.5</span>
        </p>
    </div>
    <div class="col-md">
        <h3 class="text-uppercase">Coctails</h3>
        <p class="row ghc-price-list-item"><span class="col">Gin Tonic</span><span class="col text-right">9</span></p>
        <p class="row ghc-price-list-item"><span class="col">Cuba Libre</span><span class="col text-right">9.9</span></p>
        <p class="row ghc-price-list-item"><span class="col">Mojito</span><span class="col text-right">9.9</span></p>

        <h3 class="text-uppercase">Spirits</h3>
        <p class="row ghc-price-list-item"><span class="col">Metaxa 12*</span><span class="col text-right">7.5</span></p>
        <p class="row ghc-price-list-item"><span class="col">Tullamore Dew</span><span class="col text-right">6.5</span></p>
        <p class="row ghc-price-list-item"><span class="col">Jameson Whiskey</span><span class="col text-right">6.5</span></p>
        <p class="row ghc-price-list-item"><span class="col">Bombay, Añejo Suave</span><span class="col text-right">6.8</span></p>
        <p class="row ghc-price-list-item"><span class="col">Ron Cubay, Añejo Suave</span><span class="col text-right">6.5</span></p>
        <p class="row ghc-price-list-item"><span class="col">Tequila, El Jimador, Reposado</span><span class="col text-right">6.2</span></p>
        <p class="row ghc-price-list-item"><span class="col">Vodka Finlandia</span><span class="col text-right">5.5</span></p>
        <p class="row ghc-price-list-item"><span class="col">Bailey's</span><span class="col text-right">5.5</span></p>
        <p class="row ghc-price-list-item"><span class="col">Jagermeister</span><span class="col text-right">5.5</span></p>
        <p class="row ghc-price-list-item"><span class="col">Graham's Tawny Porto</span><span class="col text-right">4.7</span></p>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <h2 class="text-uppercase">Something to eat</h2>
        <p class="row ghc-price-list-item"><span class="col">Soup of the day</span><span class="col text-right">5.8</span></p>
        <p class="row ghc-price-list-item"><span class="col">Chipotle Citrus Chicken Sandwich</span><span class="col text-right">5.4</span></p>
        <p class="row ghc-price-list-item"><span class="col">Avocado Toast</span><span class="col text-right">5.6</span></p>
        <p class="row ghc-price-list-item"><span class="col">Super BLT Sandwich</span><span class="col text-right">12.8</span></p>
    </div>
    <div class="col-md">
        <h2 class="text-uppercase">Sweets</h2>
        <p class="row ghc-price-list-item"><span class="col">Homemade cakes of the day</span><span class="col text-right">5</span></p>
        <p class="row ghc-price-list-item"><span class="col">Key Lime and Coconut</span><span class="col text-right">1.5</span></p>
        <p class="row ghc-price-list-item"><span class="col">Icecream</span><span class="col text-right">2</span></p>
        <p class="row ghc-price-list-item"><span class="col">Tiramisu</span><span class="col text-right">6</span></p>
    </div>
</div>

<img src="/img/espresso-machine-detail_uq7cxy_c_scale,w_1005.jpg" 
    srcset="
        /img/espresso-machine-detail_uq7cxy_c_scale,w_250.jpg 250w,
        /img/espresso-machine-detail_uq7cxy_c_scale,w_527.jpg 527w,
        /img/espresso-machine-detail_uq7cxy_c_scale,w_734.jpg 734w,
        /img/espresso-machine-detail_uq7cxy_c_scale,w_909.jpg 909w,
        /img/espresso-machine-detail_uq7cxy_c_scale,w_1005.jpg 1005w,
        /img/espresso-machine-detail_uq7cxy_c_scale,w_2180.jpg 2180w"
    sizes="
        (min-width: 1200px) 1090px, 
        (min-width: 992px) 910px, 
        (min-width: 768px) 670px, 
        (min-width: 576px) 490px, 
        calc(100vw-50px)"
alt="Espresso machine" class="img-fluid ghc-spodek-picture">

{% endblock %}
