{% extends '_base.twig' %}


{% block title %}Our Story – Generic Hipster Coffee{% endblock %}

{% block nav %}
    {% include '__nav.twig' with {'active': 'our-story'} %}
{% endblock %}


{% block content %}

<h1 class="text-uppercase">Our Story</h1>
<p class="ghc-annotation">GHC started as a project of two friends and passionate baristas, John &amp; Don in 2010.</p>
<p>
    Believing as much in the hand of an educated barista as in the innovative equipment of the our ever-growing
    industry, GHC offers a full spectrum of brewing opportunities – from pour overs to syphon pots to finely
    executed espresso beverages.
</p>
<p>Each cup of coffee is made with love, precision and care.</p>

<img src="/img/espresso-machine-m_z5erq6_c_scale,w_1198.jpg" 
    srcset="
        /img/espresso-machine-m_z5erq6_c_scale,w_250.jpg 250w,
        /img/espresso-machine-m_z5erq6_c_scale,w_459.jpg 459w,
        /img/espresso-machine-m_z5erq6_c_scale,w_619.jpg 619w,
        /img/espresso-machine-m_z5erq6_c_scale,w_757.jpg 757w,
        /img/espresso-machine-m_z5erq6_c_scale,w_882.jpg 882w,
        /img/espresso-machine-m_z5erq6_c_scale,w_995.jpg 995w,
        /img/espresso-machine-m_z5erq6_c_scale,w_1103.jpg 1103w,
        /img/espresso-machine-m_z5erq6_c_scale,w_1198.jpg 1198w,
        /img/espresso-machine-m_z5erq6_c_scale,w_2180.jpg 2180w"
    sizes="
        (min-width: 1200px) 1090px, 
        (min-width: 992px) 910px, 
        (min-width: 768px) 670px, 
        (min-width: 576px) 490px, 
        calc(100vw-50px)" 
        alt="Espresso machine" class="img-fluid ghc-spodek-picture">
    

{% endblock %}
