{% extends '_base.twig' %}


{% block title %}Generic Hipster Coffee{% endblock %}

{% block nav %}
    {% include '__nav.twig' with {'active': 'our-story'} %}
{% endblock %}


{% block content %}

<div class="container">
    <h1 class="text-uppercase">Our Story</h1>
    <p class="ghc-annotation">GHC started as a project of two friends and passionate baristas, John &amp; Don in 2010.</p>
    <p>
        Believing as much in the hand of an educated barista as in the innovative equipment of the our ever-growing
        industry, GHC offers a full spectrum of brewing opportunities – from pour overs to syphon pots to finely
        executed espresso beverages.
    </p>
    <p>Each cup of coffee is made with love, precision and care.</p>

    <img src="/img/espresso-machine.jpg" alt="Espresso machine" class="img-fluid ghc-spodek-picture">
</div>
    

{% endblock %}
